tradevenv]
tradevenv
__pycache__/
*.pyc
.env
.DS_Store
.vscode/
.idea/
logs/
data/
output
ipynb_checkpoints/
*.sqlite3
*.log
*.csv
*.h5
*.db
*.pkl
*.ckpt  
*.pth
*.zip
*.tar.gz
*.egg-info/
dist/
build/
.eggs/  
*.egg
*.iml